* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Source+Sans+Pro:wght@300;400&display=swap');

html {
  background-color: #F5F5F7;
}

html p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

body {
  min-height: 100%;
}


.scroll-content {
  display: block;
  margin-left: 18rem;
}

.bodyWrapper {
  max-width: 100%;
  margin: 0 auto;
}



/*https://marina-ferreira.github.io/tutorials/css/flexbox/*/
.bottom-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bottom-nav img {
  width: 3rem;
  height: 3rem;
  border: 0;
}

/* Style page content */
.main {
  margin-left: 20rem;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}


.logo-heading-container {
  margin: 0rem;
  padding: 0rem;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  align-content: space-between;
  align-self: center;
  font-size: 2em;
  margin: 0.67em 0;
}

.top-content h1, h2 {
  margin: 0rem;
  padding: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
}

#titleMargin {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

#mainContentImage {
  width: 5rem;
  height: 5rem;
  margin: 0rem;
  margin-bottom: 10rem;
}

.bottom-content {
  display: flex;
  width: 100%;
  height: auto;
}

.bottom-content-auto-height {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  justify-content: center;
}

.two-of-four-column{
display: flex;
width:50%;
height:auto;
padding-left: 1.5rem;
padding-right: 1.5rem;
justify-content: center;
flex-direction: column;
}

.left-column {
  display: flex;
  width: 40%;
  line-height: 1.6rem;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.center-column {
  width: 56%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  width: 4%;
  z-index: 4;
  padding-right: 1rem;
}

.right-column h2 {
  margin: 0rem;
  padding: 0rem;
  font-size: 2rem;
}


.headline2 {
  display: block;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.headline2 h2 {
font-family: 'Source Sans Pro', sans-serif;
  margin: 0rem;
  color: #4A0D67;
  font-weight: 300;
  font-size: 2.5rem;
}

.body1 {
  padding-left: 2rem;
  line-height: 1.5rem;
  font-family: 'raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.graphic-title {
  padding-left: 10rem;
  margin-top: 15rem;
}

.graphic-title h2 {
  color: #4A0D67;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -1.5px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
 
}

.graphic-title h3 {
  color: #4A0D67;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}



/*https://www.w3schools.com/howto/howto_js_scroll_to_top.asp*/
#back-to-top-button-reg {
  display: none;
  /* Hidden by default */
  position: fixed;
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #B39DDB;
  /* Set a background color */
  color: #242323;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  font-size: 1rem;
  /* Increase font size */
  width: 8rem;
  font-family: 'source sans pro', sans-serif;
}

#back-to-top-button-reg:hover {
  background-color:  #4527A0;
  color: #F5F5F7;
}

.bigTitle-centered {
  display: block;
  text-align: center;
  font-family: 'source sans pro', sans-serif;
}


.center-paragraph {
  text-align: center;
  margin: auto;
  width: 80%;
  margin-top: 0rem;
  padding-top: 0rem;
  font-weight: 500;
}

.center-paragraph p {
  display: block;
  margin-block-start: 0rem;
  margin-block-end: 1.5rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-family: 'source sans pro', sans-serif;
}

.center {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.center-column-paragraph {
  width: 40%;
  max-width: 30rem;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 0.3rem;
}

.center-column-paragraph h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

.center-column-paragraph p {
  line-height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.multi-content-column {
  width: 48%;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  /*background-color: #91c499;*/
  justify-content: flex-start;
  padding-right: 1rem;
  padding-left: 1rem;
}

.single-paragraph-column{
  width: 96%;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  /*background-color: #91c499;*/
  justify-content: flex-start;
  padding-right: 1rem;
  padding-left: 1rem;
}


#marginBottom5rem {
  margin-bottom: 5rem;
}

#marginTop5rem {
  margin-top: 5rem;
}

#marginTop3rem {
  margin-top: 3rem;
}

#displayFlexColumn {
  flex-direction: column;
}

#noTopMargin {
  margin-top: 0rem;
}

#paragraphAdjustment3Rem {
  margin-bottom: 3rem;
}

#contentWidth70 {
  width: 70%;
}

#no-paddings-right {
  padding-right: 0rem;
  width: 50%;
}


/*------------ Side Navigation 
https://www.cssscript.com/pure-css-vertical-multi-level-navigation-menu/
-------------*/
nav{
display:block;
}

.navigation {
  width: 18rem;
  background-color: #4CAF50;
  height: 100%;
  
  float: left;

  position: fixed;
  left: 0px;
  min-height: 600px;
  
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;

  zoom: 1;

  display: flex;
  flex-direction: column;
}

.branding-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation img.logo{

    display: block;
    width: 5rem;
    height: auto;
    margin: 1rem auto 1rem auto;

}

.logoName{
  font-family: 'source sans pro', sans-serif;
  font-weight: 500;
  text-align: center;
}


.navigation ul,
.navigation ul li,
.navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul {
  position: relative;
  z-index: 500;
  float: left;
}

.navigation ul li {
  float: left;
  min-height: 0.05em;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}

.navigation ul li.hover,
.navigation ul li:hover {
  position: relative;
  z-index: 510;
  cursor: default;
}

.navigation ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 520;
  width: 100%;
}

.navigation ul ul li { float: none; }

.navigation ul ul ul {
  top: 0;
  right: 0;
}

.navigation ul li:hover > ul { visibility: visible; }

.navigation ul ul {
  top: 0;
  left: 99%;
}

.navigation ul li { float: none; }

.navigation ul ul { margin-top: 0.05em; }


.navigation:before {
  content: '';
  display: block;
}

.navigation:after {
  content: '';
  display: table;
  clear: both;
}

.navigation a {
  display: block;
  padding: 1em 1.3em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation > ul { width: 18em; }

.navigation ul ul { width: 13em; }

.navigation > ul > li > a {
  /*border-right: 0.3em solid #34A65F;*/
  color: black;
  font-family: 'raleway',sans-serif;
  font-weight: 500;
}

.navigation > ul > li > a:hover { color: black; }

.navigation > ul > li a:hover,
.navigation > ul > li:hover a {   background-color:  #4527A0; color: #F5F5F7; }

.navigation li { position: relative; }

.navigation ul li.has-sub > a:after {
  content: '»';
  position: absolute;
  right: 1em;
}

.navigation ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.navigation ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}

.navigation ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.navigation ul ul { border: 1px solid #34A65F; }

.navigation ul ul a { color: black; font-family: 'raleway', sans-serif;}

.navigation ul ul a:hover { color: #F5F5F7; }

.navigation ul ul li { border-bottom: 1px solid #0F8A5F; }

.navigation ul ul li:hover > a {
  background: #a200e0;
  color: #F5F5F7; 
}

.navigation.align-right > ul > li > a {
  border-left: 0.3em solid #34A65F;
  border-right: none;
}

.navigation.align-right { float: right; }

.navigation.align-right li { text-align: right; }

.navigation.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}

.navigation.align-right ul li.has-sub > a:after { content: none; }

.navigation.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}

.navigation.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.navigation.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.navigation.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.social-media-buttons {
  display: flex;
  justify-content: space-around;
width: 18rem;

  position: absolute;
  bottom: 23px;

}

.social-media-buttons img {
  width: 2.5rem;
  height: 2.5rem;
}



/*-----------------------------------------------------------------------------------------------------------------------------  */
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 2560px) {
  #no-paddings-right {
    width: 40%;
  }

  #contentWidth50 {
    width: 60%;
  }

  .bigTitle-centered h2 {
    margin-top: 5rem;
  }

  @media screen and (max-width: 1630px) {
    .graphic-title h2 {
      font-size: 3.5rem;
      line-height: 4.2rem;
    }
  }

  @media screen and (max-width: 1440px) {
    .graphic-title h2 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  @media screen and (max-width: 1024px) {
    .graphic-title h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  @media screen and (max-width: 768px) {
    .side-nav {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      padding: 0.5rem;
      display: block;
    }

    .top-nav {
      display: block;
    }

    .bottom-nav {
      display: none;
    }

    .side-nav a {
      float: left;
    }

    .navigation {
      overflow: hidden;
      display: flex;
      margin: 0rem;
      padding: 0rem;
      justify-content: space-between;
      width: auto;
    }

    .navigation a {
      float: left;
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      margin: auto;
      font-weight: 500;
      letter-spacing: 1.25px;
    }

    .navigation a:hover {
      background-color: #ddd;
      color: black;
    }

    .nav-logo {
      display: flex;
      justify-content: flex-start;
    }

    .nav-logo a>img {
      width: 100%;
      object-fit: contain;
    }

    .nav-logo a {
      padding-left: 2.5rem;
      display: inline-block;
      width: 3rem;
    }

    .logo-heading-container>h1 {
      text-align: left;
      margin: 0rem;
      padding: 0rem;
    }

    .logo-heading-container>h1, .logo-heading-container>a {
      display: flex;
      float: none;
    }

    .logo-heading-container {
      display: flex;
      margin: 0rem;
      padding: 0rem;
      margin-block-start: 0rem;
      margin-block-end: 0rem;
      margin-inline-start: 0rem;
      margin-inline-end: 0rem;
      padding-left: 1rem;
      align-content: space-between;
    }

    .social-media-buttons {
      position: relative;
      display: flex;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      top: 2rem;
      right: 2rem;
      max-width: 1rem;
      max-height: 1rem;
    }

    .social-media-buttons>img {
      width: 2rem;
      height: 2rem;
      margin: auto;
    }

    div.scroll-content {
      margin-left: 0;
    }

    #titleMargin {
      margin-top: 0rem;
      margin-bottom: 1rem;
    }

    #mainContentImage {
      width: 5rem;
      height: 5rem;
      margin: 0rem;
      margin-bottom: 10rem;
    }

    .bottom-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto;
    }

    .bottom-content-auto-height {
      width: 100%;
      height: auto;
    }

    .right-column h2 {
      font-size: 3rem;
    }

    .multi-content-column {
      padding-left: 2rem;
    }
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar */
  @media screen and (max-width: 425px) {
    top-nav {
      display: block;
    }

    .navigation {
      display: block;
      overflow: hidden;
    }

    a:-webkit-any-link {
      cursor: pointer;
    }

    .navigation a {
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .navigation a:not(:first-child) {
      display: none;
    }

    .navigation a.icon {
      float: right;
      display: block;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 425px) {
    .graphic-title h2 {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .title-box h2 {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .navigation.responsive {
      position: relative;
    }

    .navigation.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
}